.PortfolioMainBanner {
    background: url("../../Assets/Portfolio/portfolioMainBanner.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 10px;
    height: 100vh;
}

.PortfolioBanner {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    margin: auto;
    display: block;
    width: 100%;
  }

.PortfolioBrand{
    background: url('../../Assets/Portfolio/portfolioBrandBanner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 10px;
}

.DevelopYourBrand{
    background: url('../../Assets/Portfolio/DevelopYourBrand.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 10px;
}

.portfolioTabs .react-tabs {
    display: block;
}

.portfolioTabs .react-tabs .react-tabs__tab-list{
    flex-direction: row !important;
    background: transparent ;
    max-width: 100%;
}

.portfolioTabs .react-tabs__tab--selected::after{
    background: none !important;
}

.portfolioTabs .react-tabs .react-tabs__tab-list .react-tabs__tab{
    background: transparent;
    border: 1px solid #2d3eb2;
    margin: 30px 10px;
    width: 100%;
    text-align: center;
    padding: 15px !important;
    border-radius: 20px;
    color: #519fd4;
    font-weight: 600;
}

.portfolioTabs .react-tabs__tab--selected{
    background-image: linear-gradient(45deg, #752340, #d14f82) !important;
    color: #fff !important;
}

@media screen and (max-width: 991px) {
    .PortfolioMainBanner {
        height: 100%;
    }
    
    .PortfolioBanner {
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        -webkit-transform: translate(0%, 0%);
        width: 100%;
    }
}