.seobanner-bg {
  background: url("../../Assets/Services/SEO/SearchEngineOptimization.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 10px;
  height: 100vh;
}
.searchengineoptimization img {
  max-height: 400px !important;
  width: auto !important;
  height: 100%;
}
