.mainNav {
    background: transparent;
    position: fixed;
    width: 100%;
    margin: auto;
    display: block;
    transition: 1s;
    z-index: 9;
}

.mobileMenu.navbar-nav {
    width: 95%;
}

.mainNav .nav-link {
    color: #fff !important;
    font-size: 15px;
    margin: auto 8px;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.navbar-collapse.collapse.show {
    text-align: center !important;
    height: 100vh;
}

.adminLink {
    background-image: linear-gradient(to right, #b5406a, #6f203d);
    border-radius: 20px;
    padding: 10px;
    display: block;
    width: 100%;
    min-width: 120px;
    max-width: 120px;
    margin: auto;
    margin-right: 0;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    transition: 2s;
    color: #fff;
    text-decoration: none;
}

.adminLink:hover {
    background-image: linear-gradient(to left, #b5406a, #6f203d);
    transition: 2s;
}

.adminLink img {
    height: 100%;
    width: 100%;
    max-width: 28px;
    max-height: 25px;
    margin-top: -5px;
    object-fit: cover;
}

.scrolled {
    background: rgb(34, 28, 73, 0.8);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 9999;
    transition: 1s;
}

.navbar-light .navbar-toggler-icon {
    background-image: none !important;
    margin-top: 20px;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.0) !important;
    border-color: rgba(0, 0, 0, 0.0) !important;
    position: absolute;
    left: 0;
    top: 15px;
}

.navbar-light .navbar-toggler-icon::after {
    background: transparent !important;
    color: #fff;
    content: '';
    color: #fff;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-size: 1.5rem;
    height: 3px;
    width: 17px;
    background: #fff !important;
    position: absolute;
    border-radius: 20px;
    top: 38px;
    left: 12px;
}

.navbar-light .navbar-toggler-icon::before {
    background: transparent !important;
    color: #fff;
    content: '';
    color: #fff;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-size: 1.5rem;
    height: 3px;
    width: 25px;
    background: #fff !important;
    position: absolute;
    top: 30px;
    border-radius: 20px;
    left: 12px;
}

.mobileMenu .dropdown-menu.show {
    padding: 15px;
    width: 100%;
    min-width: 200px;
    max-width: 200px;
}

.mobileMenu .dropdown-item {
    font-size: 0.8rem;
    margin: 5px auto;
}


@media screen and (max-width: 480px) {
    .mobileMenu {
        max-width: 70% !important;
    }
}

@media screen and (max-width: 768px) {
    .mainNav {
        background: rgb(34, 28, 73, 0.3);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(10px);
        z-index: 9999;
    }
}

@media screen and (max-width: 991px) {
    span.navbar-brand img {
        max-width: 120px;
        margin: auto;
        display: block;
        position: relative;
        left: 30px;
        z-index: 1;
    }
    .mobileMenu {
        width: 100%;
        max-width: 60%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        padding: 20px;
        height: 100vh;
        text-align: left;
        font-weight: 800;
        transition: 1s !important;
        animation: run ease 0.8s;
        -webkit-animation: run ease 0.8s !important;
        -moz-animation: run ease 0.8s !important;
        -o-animation: run ease 0.8s !important;
        -ms-animation: run ease 0.8s !important;
        padding-top: 70px !important;
        overflow-y: scroll;
    }
    .active::after {
        content: "";
        background: #d34e81;
        width: 30%;
        height: 100%;
        position: absolute;
        max-height: 4px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-radius: 0;
        transition: 2s;
    }
    .mobileMenu .navbar-nav {
        margin-top: 60px !important;
    }
    .adminLink {
        min-width: 100%;
        max-width: 100%;
        margin: auto;
        margin-left: 0;
    }
    .mainNav .nav-link {
        color: #fff !important;
        font-size: 15px;
        margin: 20px 8px 0;
    }
    .navbar-collapse.collapse.show {
        z-index: 0;
    }
    .navbar-light .navbar-toggler {
        z-index: 1;
    }
    .dropdown-menu.show::after {
        display: none;
    }
    .mobileMenu {
        max-width: 100% !important;
    }
    .mobileMenu.navbar-nav {
        width: 100%;
    }
}

@keyframes run {
    0% {
        margin-right: -98%;
    }
    100% {
        margin-right: 0%;
    }
}

@keyframes out {
    0% {
        margin-right: 0%;
    }
    100% {
        margin-right: -98%;
    }
}

.plansDropdown {
    background: transparent;
    color: #fff;
    border: none;
    padding: 0;
}

.plansDropdown:focus,
.plansDropdown:hover {
    background: transparent !important;
    color: #fff !important;
    box-shadow: 0 0 0 0.25rem rgb(179 66 110 / 0%) !important;
}

.dropdown-item a {
    color: #0e0d1b;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
}

.dropdown-item a::before {
    position: absolute;
    content: '\f101';
    color: #d34e81;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    left: 18px;
}

.dropdown-menu.show {
    border-radius: 10px;
    padding: 6px;
    top: 50px;
    transform-origin: top center;
    animation: scaleZ 300ms 60ms ease-in-out forwards;
}

.dropdown-menu.show::after {
    content: "\f0d8";
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    height: 0px;
    width: 20px;
    left: 10px;
    top: -28px;
    font-weight: 900;
    font-size: 2rem;
    color: #fff;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1399px){
    .mainNav .nav-link {
        font-size: 11px;
        margin: auto 0px;
        font-weight: 500;
        padding: 6px 4px !important;
    }
    .plansDropdown{
        font-size: 11px;
    }
    
    .servicesBox2 h5{ 
        left: 60px;
        top: 100px;
    }
    .servicesBox h5{
        top: 40px;
    }
    .servicesBox3 h5,
    .servicesBox4 h5,
    .servicesBox2 h5,
    .servicesBox1 h5,
    .servicesBox h5{
        font-size: 1rem;
        font-weight: 600;
    }
    .servicesBox1 h5::after,
    .servicesBox h5::after{
        max-height: 70px;
        top: 60px;
    }
    .servicesBox4 h5::after,
    .servicesBox3 h5::after{
        max-height: 70px;
    }
    .servicesBox4 h5::after{
        right: 50%;
    }
    .servicesBox2 h5::after{
        left: 70%;
        top: 0px;
        min-height: 70px;
        max-width: 100px;
    }
    .servicesBox4 h5::after,
    .servicesBox3 h5::after{
        max-height: 65px;
        min-height: 65px;
    }
    .circleImg img{
        max-width: 350px !important;
    }
    .text h1 {
        line-height: 0.5 !important;
    }
    .Mobile img{
        min-width: 360px;
    }

    span.navbar-brand img {
        max-width: 130px;
    }

    .adminLink {
        padding: 6px !important;
        min-width: 100px !important;
        max-width: 100px !important;
        font-size: 0.8rem !important;
    }

    .adminLink img {
        max-width: 18px !important;
        max-height: 15px !important;
    }

}