.mainNav {
    background: transparent;
    position: fixed;
    width: 100%;
    margin: auto;
    display: block;
    transition: 1s;
    z-index: 9;
}

.mainNav .nav-link {
    color: #fff !important;
    font-size: 15px;
    margin: auto 8px;
}

.navbar-light .navbar-toggler{
    background: #d34e81;
}

.adminLink {
    background-image: linear-gradient(to right, #b5406a, #6f203d);
    border-radius: 20px;
    padding: 10px;
    display: block;
    width: 100%;
    min-width: 120px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    transition: 2s;
    color: #fff;
    text-decoration: none;
}

.adminLink:hover {
    background-image: linear-gradient(to left, #b5406a, #6f203d);
    transition: 2s;
}

.adminLink img {
    height: 100%;
    width: 100%;
    max-width: 28px;
    max-height: 25px;
    margin-top: -5px;
    object-fit: cover;
}

.scrolled {
    background: rgb(34, 28, 73, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 9999;
    transition: 1s;
}

@media screen and (max-width: 768px) {
    .mainNav {
        background: rgb(34, 28, 73, 0.3);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(10px);
        z-index: 9999;
    }
}