.homeMainBanner {
    background: url('../../Assets/HomeAssets/home_page_main_banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 20px;
    height: 100vh;
}

.circleImg {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.mainBanner {
    position: relative;
}

.mainBanner svg {
    position: absolute;
    text-align: center;
    margin: auto;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 7.7rem;
    opacity: 0.8;
    height: 100%;
    max-height: 120px;
}

.circleImg .text h1 {
    position: absolute;
    top: 48%;
    bottom: 48%;
    right: 0;
    left: 0;
    margin: auto;
    display: block;
    color: #fff;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 0, 0.5);
    font-size: 2.6rem;
    font-weight: 500;
}

.circleImg .text h1 span {
    font-size: 3.3rem;
    font-weight: 700;
}

.circleImg .text p {
    position: absolute;
    top: 60%;
    bottom: 40%;
    right: 0;
    left: 0;
    margin: auto;
    display: block;
    color: #fff;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 0, 0.5);
}

.circleImg img {
    -webkit-animation: rotation 100s infinite linear;
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
    }
}

.contactDetails a {
    color: #fff;
    text-decoration: none;
}

.contactDetails span {
    margin: auto 25px;
}

.section2 {
    background: url('../../Assets/HomeAssets/bannerImg2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-position: top right;
}

.whyChooseOta {
    margin: 100px auto 40px;
}

.whyChoose,
.whyChooseOta {
    display: inline-block;
    position: relative;
}

.ota_Bg {
    background: url('../../Assets/HomeAssets/ota-bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-position: top center;
}

.whyChoose {
    display: inline-block;
    border-top: 3px solid #e3e3e3;
    padding: 50px 0;
}

.whyChooseOta h1 {
    margin: 20px 0 0 0;
    font-weight: 700;
    font-size: 3.6rem;
    color: #424242;
}

.whyChooseOta h2 {
    font-size: 4rem;
    background: linear-gradient(to right, #ba5e92, #7e79b1, #1795d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.whyChoose i,
.whyChooseOta i {
    font-size: 25px;
}

.learn-btn {
    border: 1px solid;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 20px;
    transition: 1s;
    margin: 10px auto;
    display: block;
    width: 100%;
    text-align: center;
}


.learn-btn:hover {
    background: linear-gradient(to right, #b5406a, #6f203d);
    border: 1px solid transparent;
    transition: 1s;
    color: #fff;
}

.getStarted-btn {
    border: 1px solid transparent;
    background: linear-gradient(to right, #b5406a, #6f203d);
    padding: 10px 25px;
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
    transition: 1s;
    margin: 10px auto;
    display: block;
    width: 100%;
    text-align: center;
}


.getStarted-btn:hover {
    background: transparent !important;
    border: 1px solid #d34e81;
    transition: 1s;
    color: #d34e81;

}

.howWeWork {
    background: url('../../Assets/HomeAssets/banner-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.howWeWorkBanner {
    position: relative;
}

.process {
    position: absolute;
    top: 50%;
    bottom: 50%;
    width: 33.33%;
}

.process .spanProcess {
    background: -webkit-linear-gradient(#333 20%, #eee 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    font-weight: 800;
    opacity: 0.1;
    line-height: 0;
    z-index: 9999;
}

.process h1 {
    line-height: 0;
    font-size: 3rem;
}

.process h1 span {
    color: #2e95cc;
}

.process h1 i {
    font-size: 2rem;
}

.process h6 {
    margin-left: 40px;
    line-height: 0;
    color: #2e95cc;
}

.process p {
    margin: 25px 40px auto;
    line-height: 1.7;
    font-weight: 400;
    font-size: 0.8rem;
}

.progress-circle {
    position: relative;
    display: inline-block;
    margin: 1rem;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #ebebeb;
}

.progress-circle:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: colorload 2s;
    animation: colorload 2s;
}

.progress-circle span {
    font-size: 1rem;
    color: #8b8b8b;
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
}

.progress-circle span:after {
    content: "%";
    font-weight: 600;
    color: #8b8b8b;
}

.progress-circle.progress-50:after {
    background-image: linear-gradient(-90deg, #66b8ff 50%, transparent 50%, transparent), linear-gradient(270deg, #66b8ff 50%, #ebebeb 50%, #ebebeb);
}

.HomePageBannerFour {
    background: url('../../Assets/HomeAssets/banner-4.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 75px 10px;
}

.testmonialsSlider {
    background: url('../../Assets/HomeAssets/testmonialsSlider-bg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 75px 10px;
}

.HomePageBannerFourHeading svg {
    font-size: 6rem;
    font-weight: 800;
    height: 87px;
    opacity: 0.5;
}

.HomePageBannerFourHeading h1 {
    color: #fff;
    font-size: 3rem;
    line-height: 0;
    z-index: 99999;
}

.HomePageBannerFourHeading p {
    color: #fff;
    margin-top: 30px;
    font-size: 0.8rem;
}

@keyframes colorload {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }

    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

.ourServicesCards.card {
    background: rgb(0, 0, 0, 0.5);
    padding: 50px 10px;
    transition: 1s;
    border-radius: 20px;
    margin: 20px auto;
}

.ourServicesCards:hover {
    background-image: linear-gradient(to right, #08678a, #0b96c8);
    transition: 1s;
}

.cardContent {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.cardContent h6 {
    font-size: 1.2rem;
}

.cardContent p {
    font-size: 0.8rem;
}

.iconBg img {
    width: 100%;
    max-width: 70px;
    margin: auto;
    display: block;
    height: 100%;
    max-height: 70px;
    transition: 1s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.ourServicesCards:hover .iconBg img {
    filter: brightness(0) invert(1);
    transition: 1s;
}

a.readToLearn {
    background: rgb(0, 0, 0, 0.1);
    border: 1px solid #0ca2d9;
    color: #0ca2d9;
    text-decoration: none;
    padding: 20px 15px;
    margin: 20px auto;
    display: block;
    text-align: center;
    border-radius: 50px;
    width: 100%;
    transition: 1s;
}

a.readToLearn:hover {
    background-image: linear-gradient(to right, #0ca2d9, #1389b4);
    color: #fff;
    border: 1px solid transparent;
    transition: 1s;
}

a.getStarted {
    background-image: linear-gradient(to right, #0ca2d9, #1389b4);
    border: 1px solid transparent;
    color: #fff;
    text-decoration: none;
    padding: 20px 15px;
    margin: 20px auto;
    display: block;
    text-align: center;
    border-radius: 50px;
    width: 100%;
    transition: 1s;
}

a.getStarted:hover {
    background: rgb(0, 0, 0, 0.1);
    color: #0ca2d9;
    border: 1px solid #0ca2d9;
    transition: 1s;
}

.watch svg {
    font-size: 9rem;
    font-weight: 700;
    height: 102px;
    margin: 60px auto 0;
    opacity: 0.8;
}

.laptop-wrapper {
    position: absolute;
    height: 0;
}

.laptop-wrapper video {
    box-sizing: border-box;
    background: url('../../Assets/HomeAssets/laptop.png');
    background-repeat: no-repeat;
    background-size: 100% 83% !important;
    background-size: contain;
    padding: 2.5% 11.5% 15.8%;
    width: 100%;
    height: 100%;
}

.watchContent h4 {
    color: #fff;
    font-size: 2rem;
    margin: 0;
}

.watchContent h2 {
    color: #fff;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0;
}

.watchContent span {
    color: #0ca3da;
    font-weight: 800;
    line-height: 2;
}

.watchContent p {
    color: #fff;
    margin: 20px auto;
    font-style: italic;
}

.videoSection {
    margin-top: -70px;
}


@media screen and (max-width: 480px) {
    .circleImg img {
        max-width: 220px;
    }

    .mainBanner svg {
        max-height: 170px;
        font-size: 2.8rem;
    }

    .circleImg .text p {
        top: 70%;
        bottom: 30%;
        font-size: 0.8rem;
    }

    .circleImg .text h1 {
        font-size: 1rem;
    }

    .circleImg .text h1 span {
        font-size: 2rem;
    }

    .HomePageBannerFourHeading svg {
        font-size: 4.4rem;
    }

    .watch svg {
        font-size: 5.5rem;
        height: 130px;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .circleImg img {
        max-width: 320px;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 991px) {
    .laptop-wrapper {
        position: relative !important;
        height: 380px;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .videoSection {
        margin-top: 0px !important;
    }
}

@media screen and (min-device-width: 480px) and (max-device-width: 767px) {
    .laptop-wrapper {
        position: relative !important;
        height: 280px;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 479px) {
    .laptop-wrapper {
        position: relative !important;
        height: 210px;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 769px) {
    .circleImg img {
        max-width: 320px;
    }

    .mainBanner svg {
        font-size: 4.3rem;
        max-height: 140px;
    }

    .circleImg .text p {
        top: 80%;
        bottom: 40%;
    }

    .circleImg .text h1 {
        font-size: 1.6rem;
    }

    .circleImg .text h1 span {
        font-size: 3rem;
    }
}

@media screen and (min-device-width: 770px) and (max-device-width: 1024px) {
    .circleImg img {
        max-width: 430px;
    }

    .circleImg .text p {
        top: 68%;
        bottom: 38%;
    }

    .mainBanner svg {
        font-size: 5.75rem;
    }
}

@media screen and (min-device-width: 992px) and (max-device-width: 1199px) {
    .mainNav .nav-link {
        font-size: 12px;
        margin: auto 5px;
    }
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1400px) {
    .mainBanner svg {
        font-size: 5.75rem;
    }
}