.aboutUsPageBanner{
    background: url('../../Assets/AboutAssets/AboutPageMainBanner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 10px;
}