.react-tabs {
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
}

.react-tabs__tab-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
    margin: 0;
    padding: 0;
    color: white;
    background-image: linear-gradient(100deg, #ffffff00, #00000075);
    margin-top: 60px;
    height: 100%;
}

.react-tabs__tab {
    list-style: none;
    padding: 15px 10px;
    cursor: pointer;
    color: #bbb;
}

.react-tabs__tab p {
    margin-bottom: 0;
    text-align: right;
    font-weight: 600;
}

.react-tabs__tab--selected {
    background-image: linear-gradient(100deg, #ffffff00, #00000075);
    color: white;
    position: relative;
}

.react-tabs__tab--selected::after {
    content: "";
    background: url("../../../Assets/Pricing/PricingActiveTabsImgs.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -10px;
}

.react-tabs__tab-panel {
    display: none;
    width: 100%;
    background: #0000003b;
    border-radius: 30px 0 0 0;
    padding: 50px;
}

.react-tabs__tab-panel--selected {
    display: block;
}

.react-tabs__tab {
    padding-left: 24px;
}

.react-tabs__tab--selected {
    padding-left: 21px;
}

.panel-content {
    text-align: center;
}

.TabsCard {
    background: transparent;
    margin: 0px auto 50px;
    border: none;
}

.TabsCard .PricingCardImg {
    background-image: linear-gradient(170deg, #00000069, #00000024);
    border-radius: 20px 20px 0 0;
    padding: 10px;
}

.cardText {
    background: #00000045;
    border-radius: 0 0 20px 20px;
    min-height: 250px;
}

.cardText h4 {
    color: #0ca3da;
    font-weight: 700;
}

.dollar{
    font-size: 3rem;
}

.cardText h4 .hour {
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}

.centerCard h4{
    color: #000;
}

.TabsCard.TabsCardCenter {
    background: #309fd0;
    border-radius: 20px;
}

.PricingCardImg img {
    height: 100%;
    max-height: 140px;
    object-fit: contain;
    margin: 50px auto;
}

.TabsCard.TabsCardCenter {
    background-image: linear-gradient(135deg, #309fd0 60%, #83476c 100%);
    border-radius: 20px;
}
