@media screen and (max-width: 991px) {
    .plansPageMainBanner {
        height: 100%;
    }
    .PlansMainBanner {
        position: relative;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%, 0%);
        -webkit-transform: translate(0%, 0%);
        width: 100%;
        margin: auto;
        display: block;
        width: 100%;
    }
}

@media screen and (min-device-width: 320px) and (max-device-width: 991px) {
    .WhiteLabellingMainBanner {
        height: 100% !important;
    }
    .DigitalStartupMainBanner {
        position: relative !important;
        transform: translate(0%, 0%);
        -webkit-transform: translate(0%, 0%);
        top: 0%;
        left: 0%;
    }
    .Operating svg,
    .Outsource svg {
        font-size: 4rem !important;
        max-height: 100px !important;
    }
    .Business svg {
        font-size: 4.5rem !important;
        max-height: 146px !important;
    }
    .Outsource h1 {
        font-size: 2rem !important;
        line-height: 1 !important;
        margin-bottom: 20px !important;
    }
    .Business h1,
    .Operating h1 {
        font-size: 2rem !important;
    }
    .RocketUlTwo ul li,
    .RocketUlOne ul li {
        text-align: start !important;
        padding-left: 40px;
    }
    .RocketUlTwo ul li::before,
    .RocketUlOne ul li::after {
        left: 0 !important;
    }
}