.plansPageMainBanner {
    background: url('../../Assets/PlansAssets/CallCenter/CallCenterMainBannerBg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 10px;
    height: 100vh;
}

.PlansMainBanner {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    width: 100%;
    margin: auto;
    display: block;
    width: 100%;
}

.smartWork svg {
    font-size: 6rem;
    font-weight: 700;
    height: 100%;
    max-height: 100px;
}

.smartWork svg text {
    fill: #000 !important;
    opacity: 0.2;
    stroke: darkgray;
}

.smartWork h1 {
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
    line-height: 0.9;
}

.smartWork h3 {
    color: #fff;
    font-weight: 700;
}

.smartWork p {
    color: #fff;
}

.OutsourcingBusiness,
.CallCentreOutsourcingbg {
    background: url('../../Assets/PlansAssets/CallCenter/CallCenterBg02.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}

.Business svg,
.Operating svg {
    font-size: 6rem;
    font-weight: 700;
    height: 100%;
    max-height: 120px;
}

.Business svg text,
.Operating svg text {
    fill: #000 !important;
    opacity: 0.07;
    stroke: darkgray;
}

.Business h1,
.Operating h1 {
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
    margin-top: -40px;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4),
        0px 4px 7px rgba(0, 0, 0, 0.1),
        0px 9px 12px rgba(0, 0, 0, 0.1);
}

.Business p,
.Business h5,
.Operating p,
.Operating h5 {
    color: #fff;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4),
        0px 4px 7px rgba(0, 0, 0, 0.1),
        0px 9px 12px rgba(0, 0, 0, 0.1);
    line-height: 1.8;
}

.planServicesSvg svg {
    font-size: 6rem;
    font-weight: 700;
    height: 100%;
    max-height: 120px;
}

.planServicesSvg svg text {
    opacity: 0.09;
}

.planServicesSvg h1 {
    color: #000;
    font-weight: 600;
    font-size: 4rem;
    margin-top: -50px;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4), 0px 4px 7px rgba(0, 0, 0, 0.1), 0px 9px 12px rgba(0, 0, 0, 0.1);
}

.planServicesSvg h5,
.planServicesSvg p {
    color: #000;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4),
        0px 4px 7px rgba(0, 0, 0, 0.1),
        0px 9px 12px rgba(0, 0, 0, 0.1);
    line-height: 1.8;
}

.PlanOccBg {
    background-image: url('../../Assets/PlansAssets/CallCenter/PlanOccBg.png');
    background-position: center top;
    background-repeat: no-repeat;
    padding: 50px 10px;
}

.WhyChooseUs {
    padding: 50px 10px;
    position: relative;
    margin: 100px auto;
}

.WhyChooseUs img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
}

.WhyChooseUSCards.card {
    background: transparent;
    color: #fff;
    border: none;
}

.WhyChooseUSCards.card p {
    text-shadow: 0px 2px 3px rgb(0 0 0 / 40%), 0px 4px 7px rgb(0 0 0 / 10%), 0px 9px 12px rgb(0 0 0 / 10%);
    font-size: 15px;
}

.plansPageResourcesOutsourcingMainBanner {
    background: url('../../Assets/PlansAssets/CallCenter/CallCenterMainBannerBg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 10px;
    height: 100vh;
}

.ResourcesOutsourcingMainBanner {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    width: 100%;
    margin: auto;
    display: block;
    width: 100%;
}

.Outsource svg {
    font-size: 6rem;
    font-weight: 700;
    height: 100%;
    max-height: 100px;
}

.Outsource svg text {
    fill: #000 !important;
    opacity: 0.2;
    stroke: darkgray;
}

.Outsource h1 {
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
    line-height: 0.9;
}

.Outsource h3 {
    color: #fff;
    font-weight: 700;
}

.Outsource p {
    color: #fff;
}