@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
.h100 {
  height: 100vh;
}
.button-radius {
  border-radius: 5rem;
  border: none;
  padding: 0.2rem 0.7rem;
}
.welcome-popup .modal-dialog-centered {
  width: 75%;
  padding-top: 40px;
  margin: auto !important;
}
.welcome-popup .modal-content {
  background-color: transparent;
  border: 0px !important;
  padding: 0px;

  display: flex !important;
  justify-content: center !important;
}
.welcome-popup .modal-content img {
  width: 100%;
  height: 100%;
}
.ota-modal .modal-content {
  background-image: linear-gradient(to bottom right, #1599d1, #6a5982);
  position: relative;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 650px;
  margin: auto;
  text-align: center;
  color: #fff;
  border: none;
  padding: 50px 30px;
  border-radius: 15px;
  border: 1px solid #6a5982;
}
.ota-modal input {
  border-radius: 50px;
  background: #30709b;
  color: #fff;
  border: 1px solid #0b96c9;
  padding: 5px;
  border-left: none;
}
.ota-modal input::placeholder {
  font-weight: bolder;
}
.ota-modal textarea::placeholder {
  color: #87b8da;
  font-size: 20px;
  font-weight: bolder;
}
.ota-modal input {
  padding: 12px 20px;
  margin: 10px auto;
}
.ota-modal textarea {
  border: 1px solid #0b96c9;
  border-right: none;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  top: 0;
  color: #fff;
  background: #30709b;
  padding: 20px 5px;
  padding-left: 15px;
  font-size: 25px;
  margin: auto;
  resize: none;
}

.ota-modal input::placeholder {
  color: #87b8da;
}

.ota-modal input:-ms-input-placeholder {
  color: #87b8da;
}

.ota-modal input::-ms-input-placeholder {
  color: #87b8da;
}
input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
